<html>
	<head>
		<style>
			body {
				font-family: Arial;
				margin: 0 30px;
			}
		</style>
	</head>
	<body>
		<div>
			<ul>
			<li>
				<a href="/invoice">EL - Invoice </a>
			</li>
			<li>
				<a href="/notice">EL - Notice </a>
			</li>
			<li>
				<a href="/weekly-report">EL - Weekly Report </a>
			</li>
			<li>
				<a href="/weekly-report-header">EL - Weekly Report - header </a>
			</li>
			<li>
				<a href="/weekly-report-footer">EL - Weekly Report - footer </a>
			</li>
			</ul>
		</div>
	</body>
</html>
