<html>
  <head>
    <style>
      body {
        font-family: Arial;
        margin: 0 30px;
      }
    </style>
  </head>
  <body>
    <div>
      <ul>
        <li> <a href="/invoice">EL - Invoice</a> </li>
        <li> <a href="/notice">EL - Notice </a> </li>

        <ul> 
					<li><a href="/weekly-report">EL - Weekly Report </a> </li>
          <li><a href="/weekly-report-header">EL - Weekly Report - header </a> </li>
          <li><a href="/weekly-report-footer">EL - Weekly Report - footer  </a>  </li>
        </ul>

        <ul>
          <li><a href="/monthly-report">EL - Monthly Report</a></li>
          <li><a href="/monthly-report-header">EL - Monthly Report - header</a></li>
          <li><a href="/monthly-report-footer">EL - Monthly Report - footer</a></li>
        </ul>

      </ul>
    </div>
  </body>
</html>
