<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            color: #272c2d;
            width: auto;
        }

        p {
            margin: 5pt 0;
            font-size: 16pt;
        }

        .font-bold {
            font-weight: 700;
        }

        .request-data-paragraph {
            font-size: 14pt;
        }
    </style>
</head>
<body style="direction: rtl; font-family: 'Arial'; padding-bottom: 4pt">
<div class="pdf-header">
    <table style="padding-top: 4pt; width: 100%">
        <tbody>
        <tr>
            <td style="width: 50%; text-align: right">
                <p class="font-bold">
                    تقرير التأشيرات
                </p>
                <p>رقم الطلب {{ visaRequest.requestNumber }}#</p>
            </td>
            <td align="left" style="width: 50%">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="28" viewBox="0 0 80 28" fill="none">
                    <path d="M80 16.4233C79.7931 16.5689 79.5662 16.6185 79.3109 16.6086C78.9606 16.5954 78.6102 16.607 78.2598 16.607C78.0463 16.607 77.8961 16.7079 77.8477 16.9131C77.7977 17.1282 77.9328 17.2656 78.108 17.3566C78.3433 17.4791 78.6035 17.4675 78.8621 17.4675C79.2392 17.4675 79.4361 17.6115 79.4327 17.8746C79.4294 18.141 79.2359 18.2883 78.8555 18.2817C78.5285 18.2767 78.1981 18.2718 77.8778 18.2172C76.87 18.0484 76.3528 17.4526 76.2961 16.3554C76.2443 15.331 76.211 15.2185 77.3222 15.2466C77.9762 15.2632 78.6319 15.2566 79.2859 15.2466C79.5495 15.2417 79.7931 15.2715 80 15.4469C80 15.7745 80 16.0989 80 16.4233Z" fill="#4CC18B"/>
                    <path d="M39.4375 0C39.5276 0.517978 39.4859 1.04092 39.4743 1.56055C39.4659 1.94614 39.1789 2.19768 38.7835 2.20761C38.3731 2.2192 37.9626 2.2192 37.5539 2.20761C37.1768 2.19603 36.8748 1.9478 36.8648 1.59365C36.8498 1.06243 36.8014 0.527907 36.9065 0C37.7507 0 38.595 0 39.4375 0Z" fill="#4CC18B"/>
                    <path d="M42.7419 0C42.7402 0.49481 42.7419 0.991274 42.7369 1.48608C42.7319 1.97427 42.5033 2.20265 42.0044 2.20927C41.609 2.21423 41.2119 2.21589 40.8165 2.20927C40.3627 2.20099 40.1291 1.97096 40.1258 1.52249C40.1224 1.01444 40.1358 0.508049 40.1408 0C41.0067 0 41.8743 0 42.7419 0Z" fill="#4CC18B"/>
                    <path d="M51.6707 0C51.6724 0.521288 51.679 1.04423 51.674 1.56552C51.6707 1.95607 51.4405 2.19603 51.045 2.20761C50.6112 2.22085 50.1774 2.2192 49.7453 2.20761C49.3082 2.19603 49.0796 1.96104 49.0729 1.52911C49.0663 1.01941 49.0713 0.509704 49.0696 0C49.9355 0 50.8031 0 51.6707 0Z" fill="#4CC18B"/>
                    <path d="M48.3651 0C48.4953 0.561005 48.4469 1.13028 48.4002 1.69129C48.3735 2.01399 48.0765 2.20099 47.7061 2.20927C47.3207 2.21754 46.9336 2.21754 46.5465 2.20927C46.0877 2.19934 45.8274 1.94614 45.8191 1.49436C45.8107 0.996239 45.8274 0.498119 45.8324 0.00165488C46.6783 3.08246e-10 47.5226 0 48.3651 0Z" fill="#4CC18B"/>
                    <path d="M42.989 14.4113C36.709 14.4113 30.4306 14.4113 24.1506 14.4113C23.3614 14.4113 23.0761 14.1266 23.0728 13.3422C23.0728 13.2032 23.0711 13.0642 23.0728 12.9252C23.0844 12.2384 23.3981 11.9289 24.0888 11.9273C25.472 11.9256 26.8535 11.9273 28.2366 11.9273C29.0525 11.9273 29.3178 11.6741 29.3044 10.8682C29.2927 10.1268 29.3728 9.38207 29.2544 8.64565C29.0825 7.57163 28.3718 6.97257 27.2773 6.95767C26.5081 6.94609 26.2311 6.66476 26.2295 5.89524C26.2295 5.7794 26.2295 5.66355 26.2295 5.54771C26.2295 4.74344 26.5698 4.42239 27.3724 4.47369C28.1348 4.52169 28.889 4.6127 29.5897 4.94368C30.8644 5.54606 31.5151 6.57539 31.707 7.93571C31.8371 8.86079 31.7704 9.78752 31.7937 10.7143C31.7971 10.8764 31.7971 11.0403 31.8221 11.1991C31.8922 11.6559 32.1608 11.914 32.618 11.924C33.3904 11.9389 34.1646 11.9256 34.9371 11.9339C35.2291 11.9372 35.184 11.8181 35.0672 11.6476C34.0228 10.1317 34.2647 7.64776 35.6145 6.2229C36.5038 5.28459 37.6283 4.81625 38.8796 4.59946C39.889 4.42405 40.9118 4.45218 41.9279 4.477C42.7738 4.49852 43.3578 5.12903 43.3594 5.97798C43.3661 7.69409 43.3611 9.41021 43.3611 11.128C43.3611 11.7337 43.5496 11.9273 44.1486 11.9289C45.2264 11.9306 46.3042 11.9322 47.382 11.9289C47.9193 11.9273 48.0928 11.7519 48.0945 11.2173C48.0961 9.24637 48.0945 7.27375 48.0945 5.30279C48.0945 4.65077 48.2747 4.47204 48.9237 4.47038C49.2524 4.47038 49.5794 4.46707 49.9081 4.47204C50.3986 4.47866 50.6105 4.68717 50.6105 5.17867C50.6138 7.17281 50.6122 9.16859 50.6122 11.1627C50.6122 11.7634 50.774 11.9289 51.378 11.9289C52.9246 11.9306 54.4713 11.9322 56.0179 11.9289C56.9289 11.9273 57.3911 11.4606 57.3911 10.5504C57.3927 9.22817 57.3894 7.90592 57.3927 6.58367C57.3944 5.66521 57.7097 5.35906 58.6441 5.35906C58.7141 5.35906 58.7842 5.35906 58.8543 5.35906C59.5283 5.36567 59.9004 5.72644 59.9021 6.38674C59.9054 7.56998 59.9421 8.75487 59.8921 9.9348C59.8403 11.1677 60.6762 12.2119 62.3514 11.876C63.4592 11.6542 64.0265 10.9823 64.0465 9.85372C64.0665 8.71681 64.0548 7.58156 64.0582 6.44466C64.0598 5.695 64.3969 5.38884 65.1477 5.35244C66.2005 5.30279 66.6326 5.58743 66.5792 6.77232C66.5375 7.72223 66.5742 8.67378 66.5692 9.62534C66.5675 9.89343 66.5942 10.1582 66.6459 10.4197C66.9396 11.9422 68.865 12.6819 70.1313 11.7552C70.7069 11.3348 70.9238 10.7308 70.9305 10.054C70.9455 8.70854 70.9372 7.36312 70.9389 6.0177C70.9405 5.28624 71.2742 4.98671 72.01 4.94864C73.2697 4.88245 73.4749 5.3905 73.4415 6.37019C73.3948 7.70237 73.4799 9.0362 73.3948 10.3684C73.3564 10.9608 73.2497 11.54 73.0461 12.101C72.6023 13.3207 71.7314 14.0803 70.4767 14.4013C69.499 14.6512 68.5063 14.6744 67.5185 14.4626C66.7177 14.2921 66.032 13.9098 65.5164 13.2644C65.3496 13.0543 65.1844 12.993 64.9591 13.19C63.9748 14.0538 62.8102 14.4179 61.5071 14.4162C55.3372 14.408 49.1623 14.4113 42.989 14.4113ZM40.8467 9.67333C40.8467 9.10571 40.8551 8.53808 40.8451 7.97046C40.8351 7.46076 40.473 7.00566 39.9908 6.97422C39.0098 6.90803 38.1355 7.17446 37.4731 7.93571C36.4804 9.07758 36.8842 10.9608 38.1956 11.8677C38.259 11.9107 38.3474 11.9405 38.4242 11.9405C39.0215 11.9455 39.6171 11.9587 40.2144 11.9356C40.6649 11.919 40.8467 11.6956 40.8484 11.2339C40.8484 10.7159 40.8467 10.1946 40.8467 9.67333Z" fill="#4CC18B"/>
                    <path d="M2.66825 16.0325C2.66825 16.4429 2.67158 16.7325 2.66825 17.0221C2.6599 17.7089 2.18106 18.2368 1.52202 18.2914C0.884674 18.346 0.24399 17.9141 0.202279 17.2571C0.103841 15.7528 0.0537874 14.2369 0.646086 12.8005C1.29011 11.2416 2.50474 10.3992 4.16818 10.1924C4.44848 10.1576 4.50187 10.0368 4.5586 9.82169C5.14422 7.5694 6.58242 6.15448 8.89322 5.74903C11.9081 5.22112 14.7828 7.34268 15.1299 10.434C15.4636 13.4161 13.3346 15.718 10.8587 16.241C8.35432 16.7689 5.80159 15.445 4.80219 13.0173C4.6537 12.6582 4.48852 12.64 4.17652 12.7244C3.35231 12.9461 2.87013 13.5882 2.73832 14.6606C2.67492 15.157 2.66157 15.6535 2.66825 16.0325ZM9.73913 13.8596C11.4142 13.8613 12.6572 12.6565 12.6539 11.0347C12.6506 9.37984 11.4142 8.15026 9.74747 8.14695C8.16411 8.14199 6.90944 9.41625 6.90777 11.0314C6.90443 12.64 8.12574 13.8596 9.73913 13.8596Z" fill="#4CC18B"/>
                    <path d="M18.1425 7.25982C18.1425 5.30044 18.1425 3.34271 18.1425 1.38333C18.1425 0.595606 18.6263 0.0941772 19.3821 0.0941772C20.1646 0.0941772 20.6535 0.588987 20.6551 1.39491C20.6568 5.30044 20.6568 9.20761 20.6551 13.1131C20.6551 13.8131 20.2714 14.3096 19.6691 14.4006C18.955 14.5099 18.3894 14.1938 18.1892 13.5815C18.1408 13.4325 18.1425 13.2852 18.1425 13.1346C18.1408 11.1769 18.1425 9.21754 18.1425 7.25982Z" fill="#4CC18B"/>
                    <path d="M76.9121 7.272C76.9121 5.30103 76.9104 3.33007 76.9138 1.36076C76.9155 0.786516 77.2375 0.346317 77.763 0.16759C78.2669 -0.00286259 78.7941 0.149387 79.1495 0.574691C79.3447 0.80803 79.4215 1.08439 79.4215 1.38227C79.4215 5.28945 79.4248 9.19497 79.4198 13.1021C79.4198 13.8866 78.8826 14.4227 78.1368 14.4112C77.421 14.4012 76.9138 13.8535 76.9121 13.0806C76.9105 11.1444 76.9121 9.20821 76.9121 7.272Z" fill="#4CC18B"/>
                    <path d="M31.0383 26.2746C31.3053 25.5912 31.3954 24.9507 31.5622 24.3302C31.6473 24.0174 31.7157 23.6996 31.7841 23.3836C31.8425 23.1155 31.996 22.998 32.278 23.0013C33.4142 23.0129 33.3642 22.8854 33.3592 24.0339C33.3542 24.9375 33.3575 25.8411 33.3592 26.7463C33.3592 26.973 33.3124 27.165 33.0422 27.208C32.7151 27.261 32.5349 27.1137 32.5333 26.7695C32.5283 26.0049 32.5333 25.2403 32.5299 24.4758C32.5299 24.3666 32.5566 24.2491 32.4699 24.1101C32.2863 24.4675 32.2396 24.8349 32.1379 25.1824C31.9827 25.7153 31.8275 26.2515 31.7157 26.7943C31.6223 27.2494 31.3053 27.2047 30.9699 27.2212C30.6262 27.2378 30.4577 27.1037 30.3776 26.7777C30.1758 25.9569 29.9539 25.1411 29.7403 24.3235C29.7153 24.2276 29.7153 24.12 29.5935 24.0339C29.5935 24.9441 29.5918 25.8328 29.5951 26.7198C29.5968 26.9449 29.5601 27.1418 29.3015 27.2047C29.0078 27.2758 28.7793 27.1203 28.7776 26.8125C28.7676 25.6772 28.7709 24.542 28.7759 23.4051C28.7776 23.142 28.9228 23.0029 29.198 23.0046C30.4077 23.0145 30.2075 22.8722 30.4661 23.9413C30.6479 24.6942 30.8348 25.4455 31.0383 26.2746Z" fill="#034866"/>
                    <path d="M18.7118 25.1057C18.7118 24.5729 18.7084 24.04 18.7135 23.5088C18.7168 23.1166 18.8236 23.0057 19.2073 23.0057C19.6745 23.0073 20.145 22.9958 20.6088 23.0371C21.458 23.1116 22.022 23.6097 22.2355 24.4322C22.3457 24.8542 22.344 25.2845 22.2506 25.7048C22.047 26.6133 21.3896 27.1478 20.4336 27.2025C20.165 27.2174 19.8964 27.2107 19.6261 27.2107C18.7118 27.2107 18.7118 27.2107 18.7118 26.2873C18.7118 25.8934 18.7118 25.4996 18.7118 25.1057ZM19.6077 25.0726C19.6077 25.4185 19.6094 25.766 19.6077 26.1119C19.6061 26.3883 19.7546 26.5024 20.0215 26.5124C20.8908 26.5471 21.4297 26.0192 21.4364 25.119C21.443 24.2071 20.9358 23.6925 20.0532 23.7024C19.7512 23.7057 19.5961 23.8215 19.6061 24.136C19.6161 24.4487 19.6077 24.7599 19.6077 25.0726Z" fill="#034866"/>
                    <path d="M16.5992 27.5269C16.1504 27.416 15.75 27.6559 15.458 27.2886C15.4347 27.2588 15.3462 27.277 15.2878 27.2803C14.0198 27.3415 13.1772 26.5257 13.1722 25.0727C13.1722 24.8658 13.2006 24.6556 13.2457 24.4537C13.4676 23.4592 14.2284 22.8882 15.2495 22.9346C16.3123 22.9842 17.0097 23.6114 17.1331 24.6755C17.2266 25.4698 17.1365 26.2294 16.5025 26.8219C16.2772 27.0337 16.4174 27.2389 16.5992 27.5269ZM14.0549 25.1389C14.0482 25.4318 14.1049 25.7611 14.2768 26.0606C14.6722 26.754 15.6849 26.7739 16.0637 26.0739C16.4107 25.4301 16.404 24.7483 16.0386 24.1112C15.6482 23.431 14.6538 23.4641 14.2751 24.1526C14.1149 24.4438 14.0532 24.7599 14.0549 25.1389Z" fill="#034866"/>
                    <path d="M25.496 26.1801C25.3442 26.1801 25.2858 26.1801 25.2257 26.1801C24.5967 26.1801 24.6001 26.1818 24.3815 26.7676C24.3181 26.9381 24.2881 27.1499 24.0678 27.1929C23.8876 27.2277 23.6924 27.2558 23.5389 27.1019C23.3888 26.9513 23.4371 26.7825 23.4972 26.617C23.8543 25.6373 24.2113 24.6576 24.5684 23.6796C24.8119 23.0143 25.1456 22.8422 25.8414 23.0143C25.9999 23.0541 26.07 23.1616 26.12 23.2973C26.5271 24.4177 26.9375 25.5397 27.3413 26.6617C27.4197 26.8802 27.403 27.082 27.1578 27.188C26.9042 27.2972 26.6155 27.1913 26.4987 26.9629C26.4887 26.943 26.4771 26.9215 26.4737 26.8984C26.3603 26.3026 26.0232 26.0345 25.496 26.1801ZM25.3725 25.4752C25.466 25.4752 25.5594 25.4735 25.6512 25.4752C25.9098 25.4818 25.9849 25.3825 25.8881 25.1343C25.7746 24.8446 25.6879 24.5468 25.5911 24.2522C25.5611 24.1595 25.5144 24.0801 25.4026 24.0817C25.3091 24.0817 25.2591 24.1413 25.2307 24.2257C25.1189 24.5517 25.0021 24.8761 24.897 25.2054C24.8436 25.3709 24.9054 25.4752 25.0956 25.4768C25.1857 25.4752 25.2791 25.4735 25.3725 25.4752Z" fill="#034866"/>
                    <path d="M4.11281 23.6382C4.00937 23.6432 3.82083 23.6399 3.6373 23.6696C3.46879 23.6978 3.33531 23.7954 3.2936 23.9758C3.25356 24.1512 3.31362 24.2919 3.4521 24.4061C3.60727 24.5335 3.79414 24.6047 3.97433 24.6874C4.19623 24.79 4.42481 24.8827 4.6367 25.0018C5.1022 25.2616 5.31409 25.6654 5.24735 26.1917C5.18228 26.7097 4.8536 27.0208 4.37309 27.178C3.83251 27.3534 3.28526 27.2889 2.74301 27.1714C2.50776 27.1201 2.40766 26.9529 2.46438 26.7279C2.52278 26.4962 2.69963 26.4283 2.92654 26.478C3.24688 26.5475 3.56723 26.6236 3.89758 26.5607C4.11281 26.5194 4.30802 26.4416 4.3564 26.195C4.40646 25.9401 4.28299 25.7664 4.06609 25.6572C3.78412 25.5181 3.48881 25.404 3.21018 25.2616C2.58451 24.9406 2.33925 24.5517 2.40432 24.0089C2.46939 23.4611 2.89317 23.0623 3.5105 22.9647C3.84919 22.9117 4.18789 22.9382 4.52658 22.9713C4.77185 22.9961 4.97039 23.0971 4.94036 23.3817C4.90866 23.6763 4.69176 23.7094 4.44483 23.6713C4.36141 23.6564 4.27965 23.6531 4.11281 23.6382Z" fill="#034866"/>
                    <path d="M7.45446 25.4321C7.45446 24.9919 7.44946 24.5517 7.45613 24.1099C7.45947 23.8318 7.32433 23.7061 7.05237 23.7044C6.9239 23.7044 6.79376 23.7077 6.66696 23.6945C6.46508 23.6746 6.3366 23.5555 6.33827 23.3552C6.33994 23.1384 6.47008 23.0094 6.69365 23.0077C7.19752 23.0027 7.70139 23.0044 8.2036 23.0044C8.4839 23.0044 8.76586 23.0027 9.04616 23.0044C9.27975 23.0061 9.43324 23.107 9.43825 23.3519C9.44159 23.5803 9.29143 23.6746 9.0812 23.7028C8.34542 23.8037 8.34542 23.8037 8.34542 24.5517C8.34542 25.2699 8.34708 25.9898 8.34542 26.708C8.34375 27.0903 8.22696 27.2111 7.88826 27.2128C7.54289 27.2144 7.44946 27.0191 7.45446 26.7196C7.45947 26.2893 7.45613 25.8607 7.45446 25.4321Z" fill="#034866"/>
                    <path d="M0.880956 25.1146C0.880956 25.659 0.884293 26.2018 0.879287 26.7463C0.875951 27.1037 0.757491 27.2129 0.42547 27.2113C0.106796 27.2096 1.54396e-05 27.0425 1.54396e-05 26.7479C0.00502078 25.6491 0.00668923 24.5486 1.54396e-05 23.4497C-0.00165301 23.1436 0.131823 23.0046 0.438817 23.0013C0.752485 22.998 0.884293 23.1469 0.880956 23.4481C0.879287 24.0041 0.880956 24.5602 0.880956 25.1146Z" fill="#034866"/>
                    <path d="M11.6156 25.1229C11.6156 25.6657 11.6089 26.2101 11.6173 26.7529C11.6223 27.0492 11.5138 27.2146 11.1935 27.2113C10.8615 27.208 10.7497 27.1005 10.748 26.738C10.7447 25.6508 10.7464 24.5635 10.748 23.4763C10.748 23.1155 10.8615 23.0063 11.1902 23.0013C11.5372 22.9964 11.6223 23.1883 11.6173 23.4912C11.6089 24.0356 11.6156 24.5801 11.6156 25.1229Z" fill="#034866"/>
                </svg>
            </td>
        </tr>
        </tbody>
    </table>

    <table style="padding-top: 4pt; width: 100%">
        <tbody>
        <tr>
            <td>
                <p class="request-data-paragraph">
                    اسم المنشأة: {{ visaRequest.establishmentName }}
                </p>
            </td>
            <td>
                <p class="request-data-paragraph">
                    رقم المنشأة:
                    <span dir="ltr">{{ visaRequest.establishmentNumber }}</span>
                </p>
            </td>
            <td style="text-align: left">
                <p class="request-data-paragraph">
                    رقم السجل التجاري: {{ visaRequest.crNumber }}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <hr color="#152E83" size="1" />
</div>
</body>
</html>
